:root {
  --primary-color: #35424a;
  --secondary-color: #e2e2e2;
  --link-color: #1adae8;
  --text-color: #333333;
  --font-size: 16px;
  --line-height: 1.5;
  --accent: #ffffff;
}

a {
  color: var(--link-color);
  text-decoration: none;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: var(--secondary-color);
  color: var(--text-color);
  font-size: var(--font-size);
  line-height: var(--line-height);
  min-height: 100vh;
}

fieldset {
  border: none;
}

legend {
  display: none;
}

header {
  background: var(--primary-color);
  color: var(--secondary-color);
  padding: 10px 0;
  text-align: center;
}

h1, h2{
  margin: 0;
}

h1 {
  color: var(--secondary-color);
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 20px;
}

main {
  padding: 20px;
  flex: 1;
}

footer {
  text-align: center;
  padding: 10px 0;
  background: var(--primary-color);
  color: var(--accent);
  margin-top: auto;
  position: absolute;
  width: 100%;
  bottom: 0;
}

.day {
  max-width: 30vw;
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  padding: 10px;
  background: var(--secondary-color);
}

#timeline {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
  margin: 20px;
}
